body {
    background-color: aqua;

}
h1 { color: #ffffff; }

#titulo {

    background: blue;
    font-size: 60px;
    border-color: aqua;
    font-family: sans-serif;
    font-style: italic;
    text-decoration-color:cyan;
    width: 7em;
}
p {
      background: orange;
      font-size: 24px;
      width: 50em;
      color:#ffffff;
      margin: auto;
      

}

nav ul {
    padding: 0 0 0 0;
    
}
li {
    display: inline;
    font-size: 25px;
    font-family: serif;
    padding: 0 1% 0 5%;
}

.test [
    padding: 4 em;

]
